
.message {
    display: flex;
    align-items: flex-end;
    padding: 5px;

}
.angle {

    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(67, 71, 71, 0.3) 0);
}
.textArea {

    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(67, 71, 71, 0.3);

}