.main {
    margin-bottom: 50px;
}
.friends {

    display: flex;
    align-items: flex-start;

}

.friends img {
    width: 40px;
    height: 40px;
    border-radius: 5px ;

}

.item_text {
font-size: 10px;
}