
.header {
    grid-area: h;
    position: relative;
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    background: #33363c;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: space-around;

}

.mainTitle {
    font-size: 26px;
}

.loginBlock {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}