.myInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    background: #b5c6de;
    }
.logos {
    width: 20px;
    height: 20px;
}
.statusWrap {
    display: flex;
    justify-content: flex-start;
}
.status{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}